/* .main__title {
    display: flex;
    flex-direction: column;
} */

.main-title {
    margin: 32px 0;
    color: #1E293B;
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
}

.ads-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 32px;
    margin-bottom: 80px;
}

.ad-card {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    width: 306px;
}

.ad-card:hover {
    cursor: pointer;
}

.ad-card-image {
    display: inline-block;
    overflow: hidden;
    position: relative;
    width: 306px;
    height: 240px;
    border-radius: 4px; 
}

.ad-card-image img {
    
    display: block;
    width: 100%;
    height: 100%;
    transition: transform 0.2s ease-out;
}

.ad-card-description {
    display: flex;
    flex-direction: column;
}

.ad-card-title {
    color: #3B82F6;
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    word-break: break-word;
    transition: color 0.2s ease;
}

.ad-card:hover .ad-card-image img {
  transform: scale(1.1);
}

.ad-card:hover .ad-card-description .ad-card-title {
  color: #0EA5E9; 
}

.ad-card-price {
    color: #1E293B;
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
}

.ad-card-address {
    color: #64748B;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.ad-card-date {
    color: #64748B;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

@media (max-width: 1300px) {
    h4 {
        margin: 64px 0 24px 0;
    }
}


