body {
    margin: 0;
    padding: 0;
}

.header {
    height: 136px;
}

.header-top {
    height: 52px;
    background-color: #1E293B;
}

.container {
    width: 1296px;
    max-width: 1296px;
    margin: auto;
}

.header-top__block {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    height: 52px;
}

.header-top-block__buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: end;
    align-items: center;
    row-gap: 8px;
    column-gap: 24px;
    height: 36px;
}

.header-top-buttons__login {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    /* width: 70px; */
    height: 36px;
    padding: 0 8px;
    /* border: 0; */
    color: #fff;
    font-size: 14px;
    font-family: Inter, sans-serif;
    background-color: rgb(0 0 0 / 0%);
}

.header-top-buttons__login:hover {
  background-color: #FFFFFF;
  color: #3B82F6;
  border-radius: 4px;
}

.person-icon,
.plus-icon,
.search-icon {
    width: 20px;
    height: 20px;
}

.header-top-buttons__new-ad {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    width: 179px;
    height: 36px;
    padding: 6px 12px;
    border: 0;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    font-family: Inter, sans-serif;
    background-color: #3B82F6;
}

.header-top-buttons__new-ad:hover {
  background-color: #FFFFFF;
  color: #3B82F6;
}

.header-bottom {
    height: 84px;
    border-bottom: solid 1px;
    border-color: #E2E8F0;
    /* box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%); */
}

.header-bottom__block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 84px;

}

.header-bottom-block__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    column-gap: 24px;
    height: 36px;
}

h3 {
    color: #1E293B;
    font-family: Inter, sans-serif;
    font-size: 30px;
    font-weight: 700;
}

.menu__nav {
    display: flex;
    column-gap: 12px;
    align-items: center;
    height: 36px;
}

.menu-nav__categoties {
    display: flex;
    align-items: center;
    column-gap: 8px;
    height: 36px;
    padding: 0 12px;
    border: 1px solid #3B82F6;
    border-radius: 4px;
    color: #3B82F6;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.menu-nav__categoties:hover {
  background-color: #3B82F6;
  color: #fff;
}

.menu-nav__search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: -1px;
    row-gap: 8px;
    width: 824px;
    height: 36px;
}

input {
    width: 734px;
    height: 36px;
    padding: 0 12px;
    border: 1px solid #3B82F6;
    border-radius: 4px 0 0 4px;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.menu-nav-search__button {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 91px;
    height: 36px;
    padding: 8px 12px;
    border: 0;
    border-radius: 0 4px 4px 0;
    color: #fff;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    background-color: #3B82F6;
}

.menu-nav-search__button:hover {
  background-color: #fff;
  color: #3B82F6;
  border-top: 1px solid #3B82F6;
  border-right: 1px solid #3B82F6;
  border-bottom: 1px solid #3B82F6;
  border-left: none;
}